/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-feedback-cards {

	@include md-up {
		margin-bottom: inEm(120px);
	}

	&__wrapper {

		@include md-up {
			padding-top: inEm(30px);
			border-top: 1px solid $clr-medium-gray;
		}
	}

	&__items {
		column-count: 2;
		column-gap: inEm(20px);

		@include md-down {
			column-count: 1;
		}
	}

	&__item {
		break-inside: avoid;
		width: 100%;
		margin-bottom: inEm(20px);
		padding: inEm(40px);
		border-radius: inEm(20px);
		border: 1px solid $clr-medium-gray;

		@include md-down {
			border-radius: inEm(10px);
			padding: inEm(20px);
		}

		&-feedback-container {
			margin-bottom: inEm(60px);

			@include md-down {
				margin-bottom: inEm(40px);
			}
		}

		&-feedback {

			@include md-down {
				font-size: inEm(16px) !important;
			}
		}

		&-position-container {
			margin-top: inEm(20px);

			@include md-down {
				margin-top: inEm(10px);
			}
		}

		&-position {

			@include md-down {
				font-size: inEm(10px) !important;
			}
		}
	}
}
