.idea
.vscode

/core
/db
db.php
stubs.php

**/node_modules
/vendor
/composer.json
**/composer.lock
**/package-lock.json
/phpcs.xml

/plugins

themes/endovi/build/
themes/endovi/**/*.mmdb

upgrade/
uploads/

debug.log
