/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-vacancies {
	margin-bottom: inEm(40px);

	@include md-down {
		margin-bottom: inEm(70px);
	}

	&__wrapper {

		@include md-up {
			padding-top: inEm(40px);
			border-top: 1px solid $clr-medium-gray;
		}
	}

	&__items {
		width: inEm(681px);
		max-width: 100%;
		margin-inline: auto;
		row-gap: inEm(20px);

		@include md-down {
			width: 100%;
		}
	}

	&__item {
		border-radius: inEm(20px);
		border: 1px solid $clr-medium-gray;
		padding: inEm(40px);
		row-gap: inEm(20px);

		@include md-down {
			padding: inEm(30px);
			border-radius: inEm(10px);
			row-gap: inEm(10px);
		}

		&-title {

			@include md-down {
				font-size: inEm(20px) !important;
			}
		}
	}
}
