/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-four-cards {
	margin-block: inEm(120px);

	&__wrapper {
		padding: inEm(40px);
		background: $clr-background-gray;
		border-radius: inEm(30px);
		overflow: hidden;
	}

	&__image-container {
		inset: 0;
	}

	&__title-container {
		margin-bottom: inEm(40px);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: inEm(10px);
	}

	&__item {
		padding: inEm(54px) inEm(20px) inEm(20px);

		&::before {
			top: inEm(20px);
			left: inEm(20px);
		}
	}
}
