@import '../helpers';

.endovi-center-card {
	padding-block: inEm(89px);
	margin-top: inEm(50px);

	@include md-down {
		padding-block: inEm(70px);
		margin-top: 0;
	}

	&__background-text {

		@include md-up {
			transform: translateX(-6.2%);
		}

		@include md-down {
			inset-block: 0;
			margin-block: auto;
			height: max-content;
		}
	}

	&__item {
		width: inEm(452px);
		max-width: 100%;
		min-height: inEm(385px);
		border-radius: inEm(20px);
		background: $clr-bg;
		border: 1px solid $clr-medium-gray;
		padding: inEm(94px) inEm(30px) inEm(30px);
		margin-inline: auto;
		row-gap: inEm(50px);

		&::before {
			content: '';
			@include corner_triangle;
			top: inEm(30px);
			left: inEm(30px);
		}
	}
}
