/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-simple {
	background: $clr-primary;
	color: $clr-bg;
	overflow: hidden;

	&__wrapper {
		position: relative;
		column-gap: inEm(90px);
		min-height: inEm(580px);
		padding-block: inEm(30px);

		@include md-down {
			column-gap: inEm(100px);
		}

		@include md-down {
			flex-direction: column;
			padding-block: inEm(70px);
			min-height: auto;
			row-gap: inEm(40px);
		}

		&::before {
			content: '';
			position: absolute;
			width: inEm(1633px);
			height: inEm(1679px);
			bottom: inEm(-255px);
			left: inEm(492px);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url($path-static-media-inline + '/triangle-single-card.svg');

			@include md-down {
				left: inEm(-85px);
				bottom: inEm(-175px);
			}
		}
	}

	&__left {
		row-gap: inEm(40px);
	}

	&__right {

		@include md-down {
			order: -1;
		}
	}

	&__title {

			@include md-down {
			font-size: inEm(30px);
			font-weight: 400;
			text-transform: none;

			br {
				display: none;
			}
		}
	}

	&__image-container {
		width: inEm(250px);
		aspect-ratio: 1/1;
		border-radius: inEm(20px);
		overflow: hidden;

		@include md-down {
			width: 100%;
		}
	}

	&__note-container {
		background: $clr-bg;
		border-radius: inEm(10px);
		padding: inEm(54px) inEm(20px) inEm(20px);
		width: inEm(636px);
		max-width: 100%;
		color: $clr-base;

		&::before {
			content: '';
			@include corner_triangle;
			top: inEm(20px);
			left: inEm(20px);

			@include md-down {
				top: inEm(30px);
				left: inEm(30px);
			}
		}

		@include md-down {
			width: 100%;
			padding: inEm(64px) inEm(30px) inEm(30px);
		}
	}

	&__note {
		line-height: 1;
	}
}
