@import '../helpers';
@import '../helpers/helpers-front-only';

.endovi-card-image {
	background: $clr-bg;
	border-radius: inEm(10px);
	padding: inEm(10px) inEm(30px) inEm(30px);
	text-align: left;
	height: 100%;

	@include md-down {
		border-radius: inEm(20px);
	}

	&__image-outer {
		height: inEm(260px);

		@include md-down {
			height: inEm(350px);
		}
	}

	&__image-container {
		width: inEm(180px);
		max-width: 100%;
		aspect-ratio: 1/1;
		border-radius: inEm(20px);
		overflow: hidden;

		@include md-down {
			border-radius: inEm(10px);
			width: inEm(230px);
		}
	}

	&__title-container {
		padding-top: inEm(20px);
		border-top: 1px solid $clr-medium-gray;
	}
}
