@import '../helpers';
@import '../helpers/helpers-front-only';

.endovi-map {
	width: 100%;
	height: inEm(700px);

	@include md-down {
		height: inEm(500px);
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}
