@import '../helpers';

.endovi-pagination {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: inEm(23px);
	display: flex;
	justify-content: center;
	gap: inEm(4px);
	cursor: pointer;

	@include md-down {
		bottom: inEm(15px);
	}

	&.swiper-pagination-lock {
		display: none;
	}

	.swiper-pagination-bullet {
		width: inEm(8px);
		height: inEm(8px);
		border-radius: 50%;
		background: rgba($clr-bg, .23);
		transition: background $transition-default, opacity $transition-default;

		@include mouseover {
			opacity: .1;
		}

		&-active {
			pointer-events: none;
			background: $clr-bg;
		}
	}
}
