/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-distributors {
	margin-block: inEm(120px);

	@include md-down {
		margin-block: 0;
	}

	&__wrapper {
		background: $clr-background-gray;
		padding: inEm(40px);
		border-radius: inEm(30px);

		@include md-down {
			padding: inEm(70px) inEm(15px);
			border-radius: 0;
			width: auto;
			margin-inline: inEm(-15px);
		}
	}

	&__title-container {
		margin-bottom: inEm(40px);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: inEm(10px);

		@include md-down {
			grid-template-columns: 1fr;
			gap: inEm(20px);
		}
	}

	&__item {
		border-radius: inEm(20px);
		padding: inEm(20px);
		background: $clr-bg;
		min-height: inEm(487px);
		row-gap: inEm(10px);

		@include md-down {
			min-height: auto;
			border-radius: inEm(10px);
			row-gap: inEm(20px);
		}

		&::before {
			content: '';
			@include corner_triangle;
			top: inEm(20px);
			right: inEm(20px);
		}

		a {
			text-decoration: underline;
		}

		&-logo-container {
			height: inEm(37px);
			margin-bottom: inEm(40px);
		}

		&-logo {
			max-height: 100%;
		}

		&-name-container {
			min-height: inEm(60px);

			@include md-down {
				min-height: auto;
			}
		}

		&-name {

			@include md-down {
				font-weight: 700 !important;
			}
		}
	}

	&__item-contact {
		padding-block: inEm(20px);
		row-gap: inEm(14px);

		&:not(:last-child) {
			border-bottom: 1px solid $clr-medium-gray;
		}
	}
}
