@import '../helpers';

// Styling content elements from the editor only

// Styles with a 'zero' specificity (inside the :where selector)
:where(.entry-content) {
	@import 'content';
}

// Styles with an additional specificity (inside the .class selector)
.entry-content {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.wp-block-column {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.entry-content {

	& > .wp-block-group {
		position: relative;
		width: 100%;
		padding-inline: $base-outer-padding-desktop;

		@include lg-down {
			padding-inline: $base-outer-padding-mobile;
		}

		&:not(:first-child) {
			margin-top: inRem(100px);

			@include md-down {
				margin-top: inRem(50px);
			}
		}

		& > .wp-block-group__inner-container {
			width: 100%;
			max-width: $base-container-width;
			margin-inline: auto;
			@include content;

			.wp-block-group {
				padding-inline: 0 !important;

				&__inner-container {
					max-width: none;
				}
			}
		}
	}
}

h1, .h1 {
	font-size: inRem(60px);
	font-weight: 700;
	text-transform: uppercase;

	@include md-down {
		font-size: inEm(34px);
	}
}

h2, .h2 {
	font-size: inRem(40px);
	font-weight: 700;
	text-transform: uppercase;

	@include md-down {
		font-size: inEm(28px);
	}
}

h3, .h3 {
	font-size: inRem(30px);
	font-weight: 400;

	@include md-down {
		font-size: inEm(24px);
	}
}

h4, .h4 {
	font-size: inRem(20px);
	font-weight: 400;
}

.text-normal {
	font-size: inRem(16px);
	line-height: 1.2;
}

.text-small {
	font-size: max(12px, #{inEm(12px)});
	line-height: 1.2;

	@include md-down {
		font-size: max(10px, #{inEm(10px)});
	}
}

