/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-form-block {
	position: relative;
	margin-bottom: inEm(120px);

	@include md-down {
		margin-bottom: 0;
		padding-inline: 0;
	}

	&__wrapper {
		position: relative;
		border-radius: inEm(30px);
		overflow: hidden;
		background: $grd-main;

		@include md-down {
			border-radius: 0;
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position-x: 100%;
			background-size: cover;
			background-image: url($path-static-media-inline + '/triangle-form.svg');
		}
	}

	&__grid {
		position: relative;
		padding: inEm(60px);
		display: flex;
		justify-content: space-between;
		column-gap: inEm(40px);

		@include md-down {
			padding: inEm(70px) inEm(15px);
			flex-direction: column;
			row-gap: inEm(30px);
		}
	}

	&__title-container {
		width: inEm(566px);
		max-width: 100%;
		flex-grow: 1;

		@include md-down {
			width: 100%;
		}
	}

	&__form {
		border-radius: inEm(20px);
		padding: inEm(30px);
		background: $clr-bg;

		@include md-down {
			padding: inEm(20px);
		}
	}
}
