/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-two-cards {
	$root: &;

	margin-block: inEm(120px);

	@include sm-down {
		margin-top: inEm(70px);
	}

	&__header {
		column-gap: inEm(60px);
	}

	&__description-container {
		width: 50%;
		flex-shrink: 0;
	}

	&__description {
		max-width: inRem(585px);
	}

	&__items {
		margin-top: inEm(40px);

		@include sm-down {
			flex-direction: column;
			margin-top: inEm(30px);
			row-gap: inEm(30px);
		}
	}

	&__item {

		@include sm-up {
			min-height: inEm(500px);

			&:first-child {
				border-right: 1px solid $clr-medium-gray;
			}

			&:last-child {
				padding-left: inEm(30px);
			}

			&:nth-child(odd) {

				#{$root} {

					&__item-description-container {
						padding-right: inEm(30px);
					}
				}
			}
		}

		@include sm-down {
			border-bottom: 1px solid $clr-medium-gray;
			row-gap: inEm(20px);
			padding-bottom: inEm(30px);
		}

		&-row {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			@include sm-up {
				padding-block: inEm(30px);
				border-bottom: 1px solid $clr-medium-gray;

				&:first-child {
					border-top: 1px solid $clr-medium-gray;
				}
			}

			@include sm-down {
				grid-template-columns: 1fr;
				row-gap: inEm(30px);

				&:last-child {

					#{$root} {

						&__item {

							&:last-child {
								border: none;
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}

		&-upper {

			@include sm-up {
				padding-bottom: inEm(80px);
			}
		}

		&-image-container {
			width: inEm(330px);
			aspect-ratio: 330 / 250;
			border-radius: inEm(20px);
			margin-top: inEm(80px);
			overflow: hidden;
			align-self: center;

			@include sm-down {
				width: 100%;
				aspect-ratio: 360 / 300;
			}
		}

		&-description-container {
			max-width: inEm(610px);
		}

		&-description {
			color: $clr-gray;
		}
	}
}
