/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-support {
	margin-block: inEm(120px);

	@include md-down {
		margin-block: 0 inEm(70px);
	}

	&__wrapper {
		padding: inEm(40px);
		background: $grd-main;
		border-radius: inEm(30px);
		overflow: hidden;
		min-height: inEm(513px);
		column-gap: inEm(40px);

		@include md-down {
			padding: inEm(70px) inEm(15px);
			border-radius: 0;
			min-height: auto;
			width: auto;
			margin-inline: inEm(-15px);
		}
	}

	&__background-container {
		inset: 0;
	}

	&__side {

		@include md-down {
			row-gap: inEm(30px);
		}

		&_image {
			width: inEm(689px);
			flex-shrink: 0;
		}
	}

	&__image-container {
		width: 100%;
		aspect-ratio: 1 / 1;
		border-radius: inEm(20px);
		overflow: hidden;
	}

	&__header {
		row-gap: inEm(20px);

		@include md-down {
			row-gap: inEm(10px);
		}
	}

	&__title {

		br {

			@include md-down {
				display: none;
			}
		}
	}

	&__description-container {
		max-width: inEm(400px);

		@include md-down {
			max-width: 100%;
		}
	}

	&__buttons {
		row-gap: inEm(10px);
	}

	&__button {
		width: max-content;
		min-width: inEm(277px);

		@include md-down {
			width: 100%;
		}
	}
}
