/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-three-cards {
	background: $grd-main;

	&__wrapper {
		padding-block: inEm(120px);

		@include md-down {
			padding-block: inEm(70px);
		}
	}

	&__title-container {
		margin-bottom: inEm(40px);

		@include md-up {
			text-align: center;
		}
	}

	&__items {
		margin: inEm(-5px);
	}

	&__item-outer {
		flex: 1 1 20%;
		min-width: 20%;
		padding: inEm(5px);

		@include md-down {
			flex: 0 0 100%;
			min-width: 100%;
		}
	}

	&__item {
		height: 100%;

		&_image {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: inEm(20px);
			min-height: inEm(152px);

			@include md-down {
				padding: inEm(30px);
			}

			&::before {
				content: none;
			}
		}

		&-image-container {
			width: inEm(32px);
			aspect-ratio: 1/1;
		}
	}
}
