@import './../../helpers';
@import './confirm-tooltip';
@import './controls';

// Styles for content inside the editor area.
// The canvas iframe body is `.editor-styles-wrapper`.
// `.block-editor-writing-flow` only exists when the canvas is not iframed.
:where(.block-editor-writing-flow, .editor-styles-wrapper) {
	@import './../../base/reset';
	@import './../../base/fonts';

	// Bring back the default styling
	.acf-field .acf-input {
		input,
		textarea {
			border-radius: 4px;
			-webkit-appearance: revert;
		}
	}

	// Lower the min-height of the WYSIWYG
	.acf-field .acf-editor-wrap iframe {
		min-height: 0;
	}
}

.block-editor-writing-flow,
.editor-styles-wrapper {
	html & {
		@include website_style_guide();
	}

	// Keep imports order, it's very important
	@import './../../base/framework'; // imported twice, as we need it here with an extra specificity
	@import './../../base/layout';
	@import './../../ui';
	@import './../../base/content';
	//@import './../../components/swiper';

	// Custom styles for editor should be placed here
}

html :where(.wp-block) {
	max-width: 1120px;
	width: 95%;
}

.acf-block-preview {
	background: $clr-bg;
	border: 1px solid $clr-base;
	min-height: 20px;

	a {
		text-decoration: none;
	}

	@include headings;
}

.editor-styles-wrapper .acf-block-preview,
.editor-styles-wrapper .acf-block-body {
	a,
	a *,
	button,
	button *,
	.endovi-button,
	.endovi-nav {
		pointer-events: none !important;
	}
}

.wp-block-group {
	border: 1px solid #00b9eb;

	&:not(:first-child) {
		margin-top: inRem(100px);

		@include md-down {
			margin-top: inRem(50px);
		}
	}

	&__inner-container {
		max-width: inRem(680px);

		.wp-block {
			max-width: none;
			width: auto;
		}
	}
}
