/**
 * Block styles definition.
 * Imported to "editor.scss" and "style.scss".
 */

@import './../../styles/helpers';
@import './../../styles/base/content-frontend';

.endovi-image-three-cards {
	margin-top: inEm(120px);

	@include md-down {
		margin-top: inEm(70px);
	}

	&__title {

		&-side {
			column-gap: inEm(40px);
			padding-right: inEm(36px);

			@include md-down {
				padding-right: 0;
				flex-direction: column;
				row-gap: inEm(20px);
			}
		}
	}

	&__description-container {
		flex-shrink: 0;
		max-width: inEm(469px);

		@include md-down {
			max-width: none;
		}
	}

	&__description {
		color: $clr-second;
	}

	&__content {
		margin-top: inEm(40px);
		min-height: inEm(560px);
		border-radius: inEm(20px);
		overflow: hidden;
		padding: inEm(40px) inEm(30px) inEm(30px);

		@include md-down {
			margin-top: inEm(30px);
			padding: inEm(20px);
			min-height: inEm(841px);
		}

		&-title-container {
			max-width: inEm(528px);
			color: $clr-bg;

			@include md-down {
				max-width: none;
			}
		}
	}

	&__image-container {
		inset: 0;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: inEm(22px);

		@include md-down {
			grid-template-columns: 1fr;
			gap: inEm(10px);
		}
	}

	&__item {
		position: relative;
		min-height: inEm(134px);
		background: $clr-bg;
		border-radius: inEm(10px);
		padding: inEm(64px) inEm(30px) inEm(30px);

		&::before {
			content: '';
			@include corner_triangle;
			top: inEm(30px);
			left: inEm(30);
		}
	}
}
